{% extends 'main_website/header.html' %}
{% load static %}

{% block active_events %} class="nav-link scrollto active" {% endblock %}

{% block css%}
<style>

  .services .row{
    justify-content: space-around;
  }

.upcoming_event{
    margin:auto;
}

@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 30%;
}
}
</style>
{% endblock %}

{% block content %}

<!-- write content inside the block -->

<br>
 <br>
    <section id="ansys services " class="services section-bg">
        <div class="container events">

          <div class="section-title">
            <h2 data-aos="fade-in">Events</h2>
          </div>

          <div class="col-md-6 d-flex align-items-stretch upcoming_event" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/events-poster/chemvision_latest.jpeg' %}" class="poster" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="/chemvision">Chemvision</a></h5>
                  <p class="card-text"> Illuminate your knowledge about where Chemical Engineers work and get a complete overview of the different industries while interacting with the experts.</p>
                   <div class="read-more"><a href="/chemvision"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>
            </div>

          <div class="row space_even">

              <div class="col-md-6 d-flex align-items-stretch " data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/events-poster/panel_discussion.jpg' %}" class="poster" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="events/panel_discussion">Panel Discussion</a></h5>
                  <p class="card-text"> Convergence of Safety and Sustainability</p>
                   <div class="read-more"><a href="/events/panel_discussion"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch upcoming_event" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/events-poster/impact.jpg' %}" class="poster" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="events/impact">Impact</a></h5>
                  <p class="card-text"> Introducing ‘IMPACT’, an all-India online elocution competition where you will think like an engineer/researcher and express your opinions as a strong orator.</p>
                   <div class="read-more"><a href="/events/impact"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>
            </div>




            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/events-poster/luminescence.jpeg' %}" class="poster" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="/events/luminescence">Luminescence</a></h5>
                  <p class="card-text">Lecture series by Professors from some of the world’s most prestigious universities on various topics.</p>
                   <div class="read-more"><a href="/events/luminescence"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/events-poster/higher-education-avenues.jpeg' %}" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Higher Education Avenues</h5>
                  <p class="card-text">Providing an excellent opportunity to get an insight into the ever confusing world of further studies by interacting with those who have studied in some of the world’s top universities.</p>
                  <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                </div>
              </div>
            </div>



            <!--<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">-->
            <!--  <div class="card">-->
            <!--    <div class="card-img">-->
            <!--      <img src="{% static 'assets/img/main_website_image/competition-poster/coming_soon.jpeg' %}" class="poster" alt="...">-->
            <!--    </div>-->
            <!--    <div class="card-body">-->
            <!--      <h5 class="card-title">Panel Discussion</h5>-->
            <!--      <p class="card-text"> An enriching discussion by pioneers of chemical engineering about current concerns in industrial and research fields.</p>-->
                  <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            <!--    </div>-->
            <!--  </div>-->
            <!--</div>-->
            <!-- <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/services-2.jpg' %}" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Aperiores voluptates</a></h5>
                  <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                  <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>

            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/services-3.jpg' %}" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Veritatis natus nisi</a></h5>
                  <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                  <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/main_website_image/services-4.jpg' %}" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Aliquam veritatis</a></h5>
                  <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
                  <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                </div>
              </div>-->
            </div>
          </div>


      </section>




{% endblock %}